
$green:#0eb582;
$light-green:#dcf5ef;
$light-color:#777;
$light-white:#eee;
$black:#444;
$white:#fff;
$border:1px solid $green;
$box-shadow:0 5px 10px rgba(0,0,0,.1);
$box-shadowHide:0 0 0 100vw rgba(0,0,0,.8);
